@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --second-dark-color: green;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  font-family: 'Open sans', sans-serif;
  padding: 0;
  background: var(--primary-color);
}

section.container{
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background: #FFF;
  border-radius: 5px;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;
}

table th, table td {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

span {
  font-weight: bold;
}

.success {
  color: green;
}
.alert{
  color: rgb(131, 131, 32);
}
.error {
  color: red;
}

table tr:hover {
  background-color: #ccc;
}

table th {
  background-color: #ccc;
}

form input, form label, form button {
  display: block;
  width: 100%;
}

form label {
  margin-bottom: 5px;
}

form input {
  margin-bottom: 10px;
  height: 40px;
  padding: 4px;
  font-size: 20px;
}

form input:focus {
  outline: 1px solid green;
}

form button {
  background-color: var(--primary-color);
  color: #FFF;
  height: 50px;
  margin-top: 20px;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  box-shadow: 0px 0px 1px black;
  cursor: pointer;
}

form button:hover {
  background-color: var(--second-dark-color);
}